<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Blog - Home</title>
</head>

<body>
    <h1>Welcome to Simple Blog</h1>
    <h2>All Posts</h2>
    {% for post in posts %}
    <div>
        <h3><a href="{% url 'view_post' post.pk %}">{{post.id}}:- {{ post.title }}</a></h3>
        <p>{{ post.body }}</p>
        <p>Author: {{ post.author }}</p>
        <p>Created_at: {{post.created_at}}</p>
        <hr>
    </div>
    {% empty %}
    <p>No posts yet.</p>
    {% endfor %}
</body>

</html>